<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adhang Muntaha">
    
    <!-- meta tags generator: https://metatags.io/ -->
    <!-- Primary Meta Tags -->
    <title>Adhang | Portfolio</title>
    <meta name="title" content="Adhang Muntaha | Portfolio">
    <meta name="description" content="My portfolio on data science and machine learning. It contains some of my projects which I used to hone my knowledge and skills.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://adhang.github.io/">
    <meta property="og:title" content="Adhang Muntaha | Portfolio">
    <meta property="og:description" content="My portfolio on data science and machine learning. It contains some of my projects which I used to hone my knowledge and skills.">
    <meta property="og:image" content="/images/preview-image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://adhang.github.io/">
    <meta property="twitter:title" content="Adhang Muntaha | Portfolio">
    <meta property="twitter:description" content="My portfolio on data science and machine learning. It contains some of my projects which I used to hone my knowledge and skills.">
    <meta property="twitter:image" content="/images/preview-image.png">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon-solid.ico">
    
    <!-- DARK MODE -->
    <link rel="stylesheet" href="/assets/css/page-style.css"></link>
  
    <!-- IMAGE MODAL -->
    <link rel="stylesheet" href="/assets/css/image-modal.css"></link>
  
    <!-- INTERACTIVE TABLEAU -->
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script src="/assets/js/tableau.js"></script>
  
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
   
    <!-- GOOGLE ANALYTICS -->
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

  </head>
  <!-- <body onload="initializeViz();"> -->
  <body>
    <div class="wrapper">
      
      <header>
          <h1 style="text-align:center"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

          {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" style="display:block;margin:0 auto; width: 80%; max-width: 250px;"/>
          {% endif %}

          <p style="text-align:center">{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      
      <section>
          {{ content }}
          {% include image-modal.html %}
      </section>
      
      <footer>
      </footer>
      
    </div>
    
    <!-- BODY SCRIPT SECTION -->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="/assets/js/image-modal.js"></script>

  </body>
</html>
